<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="CSS/main.css">
        <link href="https://fonts.googleapis.com/css?family=Kanit&display=swap" rel="stylesheet">
        <link rel="stylesheet" media="screen and (max-width: 768px)" href="CSS/smallscreen_main.css">
        <title>Will Be Right Back</title>
    </head>

    <body>

        <section id="UserRegistration_wrap">
            <div id="UserRegistration">
                <div>
                    <p style="text-align: right; font-size:1.5em;" id="RegistrationClose">&#10006;</p>
                    <form>
                        <input type="email" name="RegistrationEmail" id="RegistrationEmail" placeholder="Email address"
                            class="userReg"><br>
                        <input type="text" name="RegistrationFirstName" id="RegistrationFirstName"
                            placeholder="First name" class="userReg"><br>
                        <input type="text" name="RegistrationLastName" id="RegistrationLastName" placeholder="Last name"
                            class="userReg"><br>
                        <input type="password" name="RegistrationPassword" id="RegistrationPassword"
                            placeholder="Create a Password" class="userReg"><br>
                        <label id="BirthHeader">Birthday</label><br>
                        <label>To sign up, you need to be at least 18 years old. Other people who use WillBrB won't see
                            your
                            birthday.</label><br>
                        <input type="date" name="registration_birth" id="registration_birth" class="userReg">
                        <input type="checkbox" name="registration_subscription" id="registration_subscription" checked>
                        <label>If checked, we’ll send you marketing promotions, special offers, inspiration, and policy updates via
                            email.</label><br>
                        <input type="button" value="Sign Up" id="Registration_SignUp">
                </div>
            </div>
        </section>

        <nav id="navbar">
            <img id="logo" src="IMG/logo.png" alt="logo" />
            <h1 id="app_name">ill <span style="color: rgb(255, 78, 0)">B</span>e <span
                    style="color: rgb(255, 78, 0)">R</span>ight <span style="color: rgb(255, 78, 0)">B</span>ack</h1>
            <ul class="navigation_items">
                <li><a href="Home">Home Page</a></li>
                <li><a href="RoomListing">Room Listing</a></li>
                <li><a href="#" id="UserRegistrationOpen">Sign Up</a></li>
            </ul>
        </nav>

        {{{body}}}
        <footer>
            <div class="footer_wrap">
                <div class="footer_about">
                    <h3>About us</h3>
                    <hr>
                    <a href="#">Company information</a><br>
                    <a href="#">Contact us</a><br>
                    <a href="#">Reviews</a><br>
                </div>
                <div class="footer_support">
                    <h3>Support up</h3>
                    <hr>
                    <a href="#">FAQ</a><br>
                    <a href="#">Help desk</a>
                </div>
                <div class="footer_social">
                    <h3>
                        <a href="http://facebook.com"><img src="IMG/Icons/facebook.png" alt="facebook"></a>
                        <a href="http://twitter.com"><img src="IMG/Icons/twitter.png" alt="twitter"></a>
                        <a href="http://google.com"><img src="IMG/Icons/google.png" alt="google+"></a>
                    </h3>
                </div>
            </div>
        </footer>
        <script src="JS/main.js"></script>
    </body>

</html>